@font-face {
    font-family: 'Viking';
    src:url('Viking.ttf.woff') format('woff'),
        url('Viking.ttf.svg#Viking') format('svg'),
        url('Viking.ttf.eot'),
        url('Viking.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}