@font-face {
    font-family: 'Viking';
    src:url('../fonts/viking/Viking.ttf.woff') format('woff'),
        url('../fonts/viking/Viking.ttf.svg#Viking') format('svg'),
        url('../fonts/viking/Viking.ttf.eot'),
        url('../fonts/viking/Viking.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}