<section data-id="booking" id="booking" class="align-center">
    <h1 class="viking">Booking</h1>
    <h5 class="primary-color sub-text">Book your next session now!</h5>

    <div class="inner">
        <div style="height:50px"></div>
        <div>
            <script src='https://teamupstatic.com/teamup.js' type='text/javascript'></script>
            <script type='text/javascript'>
                teamup.calendar({
                    provider_id: 3500270,
                    width: "100%",
                    view: "week"
                });
            </script>
        </div>
    </div>
    <div class="outer">
           
        <div style="height:20px;"></div>
        <a class="button" href="https://goteamup.com/p/3500270-crossfit-shieldwall/" target="_blank">
            Login / Register
        </a>
    </div>
</section>