<section data-id="classes" id="classes" class="min-100vh flex-center-center load-inner">
    <div class="inner">
        <h1 class="viking">Classes</h1>
        <h5 class="primary-color sub-text">What the Gods offer at ShieldWall</h4>
        <div style="height:50px"></div>
        <div class="row">
            <div class="col col-md-6 col-xl-3">
                <img src="/assets/images/class-1.jpg" />
                <div style="height:20px"></div>
                <h4 class="primary-color viking">GYMNASTICS</h3>
                <div style="height:20px"></div>
            </div>
            <div class="col col-md-6 col-xl-3">
                <img src="/assets/images/class-3.jpg" />
                <div style="height:20px"></div>
                <h4 class="primary-color viking">FUNCTIONAL FITNESS</h3>
                <div style="height:20px"></div>
            </div>
            <div class="col col-md-6 col-xl-3">
                <img src="/assets/images/class-4.jpg" />
                <div style="height:20px"></div>
                <h4 class="primary-color viking">WEIGHTLIFTING</h3>
                <div style="height:20px"></div>
            </div>
            <div class="col col-md-6 col-xl-3">
                <img src="/assets/images/class-2.jpg" />
                <div style="height:20px"></div>
                <h4 class="primary-color viking">OPEN BOX</h3>
                <div style="height:20px"></div>
            </div>
        </div>
    </div>
</section>