<section data-id="classes" id="classes" class="min-100vh flex-center-center load-inner">
    <div class="inner">
        <h1 class="viking">Classes</h1>
        <h5 class="primary-color sub-text">What the Gods offer at ShieldWall</h5>
        <div style="height:50px"></div>
        <div class="row">
            {% for class in site.data.classes %}
            <div class="col col-md-6 col-xl-3">
                <img src="{{ class.imageURL }}" />
                <div style="height:20px"></div>
                <h4 class="primary-color viking">{{ class.name }}</h3>
                    <div style="height:20px"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>