<section data-id="contact" id="contact" class="min-100vh flex-center-center">
    <div class="inner">
        <h1 class="viking">Contact</h1>
        <h5 class="primary-color sub-text">Come get a taste of Valhalla at CrossFit ShieldWall</h5>
        <div style="height:50px"></div>
        <div class="container">
            <div class="row">
                <div class="map col-md-5">
                    <div id="map"></div>
                </div>
                <div class="details col-md-7">
                    <img class="mb-4 logo" src="/assets/images/logo.png" />
                    <div class="mb-4 address">
                        <h6>
                            Midland Micro Enterprise Park
                            <br />Unit C19 Intermediate Level
                            <br />Triq Il-Burmarrad, NXR6345
                            <br />Naxxar, Malta
                        </h6>
                    </div>
                    <div class="mb-4 directions">
                        <h6>
                            <a class="primary-color" href="https://goo.gl/maps/HSHNbMXnK1xAjyGo7" target="_blank">
                                Get Directions
                            </a>
                        </h6>
                    </div>
                    <div class="mb-5 mobile">
                        <h6>
                            Mobile: +356 9984 0913
                        </h6>
                    </div>
                    <div class="social">
                        <h6 class="mb-2">
                            Find us on:
                        </h6>
                        <div>
                            <a href="https://www.instagram.com/crossfitshieldwall/" target="_blank">
                                {% include instagram.svg %}
                            </a>
                            <a href="https://www.facebook.com/CrossFitShieldWall/" target="_blank">
                                {% include facebook.svg %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>