<section data-id="contact" id="contact" class="min-100vh flex-center-center">
    <div class="inner">
        <h1 class="viking">Contact</h1>
        <div style="height:50px"></div>
        <div>Find us on:</div>
        <div style="height:10px"></div>
        <div class="social">
            <a href="https://www.instagram.com/crossfitshieldwall/" target="_blank">
                {% include instagram.svg %}
            </a>
            <a href="https://www.facebook.com/CrossFitShieldWall/" target="_blank">
                {% include facebook.svg %}
            </a>
        </div>
    </div>
</section>