<section data-id="" id="header" class="min-100vh flex-center-center">
    <div class="inner">
        <h2 class="primary-color">Welcome to the</h2>
        <h1 class="viking">House of Ragnar</h1>
        <div style="height:50px"></div>
        <h3 class="viking primary-color">May the Gods<br />be with you</h3>
    </div>
    <div class="fix-bottom sticker">
        <a href="https://journal.crossfit.com" target="_blank"
            title="CrossFit Journal: The Performance-Based Lifestyle Resource"><img
                src="https://de45qwmlmgefw.cloudfront.net/badges/white-125x63.png" width="125px" height="63px"
                alt="CrossFit Journal: The Performance-Based Lifestyle Resource" /></a>
    </div>
    <a class="fix-bottom buy" href="https://www.rebeluk.com/product-category/affiliates/shieldwall/"
        target="_blank">🛡️&nbsp;&nbsp;Athlete Apparel by Rebel UK&nbsp;&nbsp;🛡️</a>
    <div id="header-watermark" class="watermark"></div>
</section>