<section data-id="prices" id="prices" class="min-100vh flex-center-center load-inner">
    <div class="inner">
        <h1 class="viking">Prices</h1>
        <h5 class="primary-color sub-text">Become one of ShieldWall's members</h5>
        <div style="height:50px"></div>
        <div class="container">
            <div class="row">
                {% for package in site.data.packages %}
                <div class="col mb-4 col-md-{{ package.width }}">
                    <div class="price {{ package.class }} flex-center-center">
                        <h4 class="title">{{ package.name }}</h4>
                        <h1 class="primary-color">{{ package.price }}</h1>
                        <h4 class="primary-color">{{ package.duration }}</h4>
                        <div class="watermark"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>