$base-color: #daceba;
$dark-color: #6b6357;

*,
*:focus {
  outline: none !important;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  color: $base-color;
  font-size: 16px;
  line-height: 1.5em;
  color: #fff;
}

h1 {
  font-size: 3.5em;
  line-height: 1.5em;
}

h3 {
  line-height: 1.7em;
}

a {
  color: $base-color;
}

.primary-color {
  color: $base-color;
}

.viking {
  font-family: "viking";
}

.min-100vh {
  min-height: 100vh;
}

.min-33vh {
  min-height: 33vh;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#site {
  #header {
    background-color: #000;
    background-size: cover;
    background-position: center center;
    background-image: url(/assets/images/background.jpg);
  }

  #classes {
    background-color: $dark-color;
  }

  #prices {
    background-color: #333;
  }

  #timetable {
    background-color: $dark-color;
  }

  #contact {
    background-color: #333;
  }

  #footer {
    background-color: #000;
  }
}

#main-menu {
  min-width: 320px;
  min-height: 56px;
  transition: 0.4s;

  .nav-logo {
    img {
      height: 110px;
      padding: 15px 20px;
      transition: 0.4s;
    }
  }

  .nav-link {
    padding: 0.5rem 1.5rem;
  }

  &.scrolled {
    background: rgba(0, 0, 0, 0.9);

    .nav-logo {
      img {
        height: 70px;
        padding: 10px 20px;
      }
    }
  }

  .navbar-nav {
    align-items: center;
    justify-content: center;
  }

  .navbar-brand {
    display: none;
  }

  .nav-logo {
    display: initial;
  }

  a {
    color: $base-color !important;
    font-weight: bold !important;
  }
}

@media (max-width: 991.98px) {
  body,
  html {
    font-size: 12px;
  }

  #main-menu {
    background-color: #0000008f;
    align-items: center;
    justify-content: center;

    .navbar-toggler {
      position: absolute;
      right: 0;
      transform: translateX(-50%);
      top: 23px;
    }

    .navbar-brand {
      display: block;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;

      img {
        max-height: 56px;
      }
    }

    .nav-logo {
      display: none;
    }
  }
}
